extends layout 

block content
    div
        each book in books
            div(class="book")
                p #{book.title}
                each author in book.authors
                    p #{author.firstname} #{author.middlename} #{author.lastname}
                button(class="details") Details
                    a(href="/library/booksOLD/" + book.title) 