extends layout

block content
    each val in book
        p(class="booktitle") #{val.title}
        each author in val.authors
            p(class="authors") #{author.firstname} #{author.middlename} #{author.lastname}