extends layout

block content
    div(id="loans")
        h3 Your loans:

        - for (let i = 0; i < lentbooks.length; i++)
            p(class="lentbooks")= lentbooks[i].title
            a(href="/library/return/" + loans[i]._id)
                Button Return book

    div(id="reservations")
        h3 Your reservations
        - for (let y = 0; y < reservedbooks.length; y++) 
            p(class="reservedbooks") #{reservedbooks[y].title}
            if reservedAvailable[y]
                a(href="/library/loan/" + reservedbooks[y]._id)
                    button Loan