extends layout

block content
    div(id="loans")
        h3 Your loans:

        - for (let i = 0; i < lentbooks.length; i++)
            p(class="lentbooks")= lentbooks[i].title
            a(href="/library/return/" + loans[i]._id)
                Button Return book

    div(id="reservations")
        h3 Your reservations
        each book in reservedbooks 
            p(class="reservedbooks") #{book.title}
            if reservedAvailable
                a(href="/library/loan/" + book._id)
                    button Loan