extends layout

block content
    div(id="loans")
        h3 Your loans:
        each book in lentbooks 
            p(class="lentbooks") #{book.title}
    div(id="reservations")
        h3 Your reservations